/* reset css */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  /* variables */
  :root {
    --nav-color: rgb(221, 134, 47);
    --nav-color-focus:rgb(224, 142, 59);
    --grey-color: rgb(250, 250, 250);
    --nav-length: 59.6px;
    --font-size: 16px;
    --sub-heading: rgb(206, 71, 71);
  }
  /* common */
  .content {
    margin-top: var(--nav-length);
  }
  .view {
    width: 100%;
    padding: 12px;
    border-bottom: 0.5px solid black;
  }
  .contact {
    color: black;
  }
  .contact ul {
    justify-content: center;
  }
  .contact a {
    color: black;
  }
  .contact a h6 {
    color: black;
    margin: 0px 5px;
  }
  .heading {
    color: var(--nav-color);
    padding: 15px 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mandate {
    color: red;
  }
  .btn {
    width: 100%;
    color: black;
    font-weight: 450;
    background-color: var(--nav-color);
  }
  .btn:focus,
  .btn:hover {
    color: black;
    font-weight: 450;
    background-color: var(--nav-color-focus);
    box-shadow: 0 0 5px #c1c1c1;
  }
  label {
    text-transform: capitalize;
  }
  .sub-heading {
    color: var(--sub-heading);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* navbar */
  #navbar {
    box-shadow: 0 1px 2px var(--nav-color-focus);
    padding: 10px 20px;
    background-color: var(--nav-color) !important;
  }
  #navbar button:hover,
  #navbar button:focus {
    background-color: var(--nav-color-focus);
    /* border: 1px; */
  }
  .navbar a {
    text-transform: capitalize;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 4px 6px;
    font-weight: 400;
  }
  .navbar-toggler{
    border: none !important;
  }
  .navbar a:hover,
  .navbar a:active {
    background-color: var(--nav-color-focus);
  }
  .navbar-toggler:focus {
    box-shadow: none;
    background-color: var(--nav-color-focus);
  }
  /* main*/
  #main {
    background-image: url(../assets/images/world_map.jpg);
    background-repeat: no-repeat;
    /* filter: blur(8px); */
    background-position: center;
    color: white;
  }
  .form-class {
    background-color: rgb(253, 253, 253);
    box-shadow: rgb(210, 210, 210);
    padding: 10px;
    color: black;
    max-width: 550px;
    font-weight: 400;
    border-radius: 10px;
  }
  .form-class label {
    margin-bottom: 0px;
  }
  .form-control:focus {
    border-color: #c1c1c1;
    box-shadow: 2px 2px 5px #c1c1c1;
    outline: none;
  }
  
  .intro-text {
    margin: 10px;
    text-align: left;
    padding: 8px;
  }
  /* about */
  #aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    align-items: center;
    background-color: var(--grey-color);
  }
  .card {
    padding: 5px;
    margin: 6px;
  }
  .card-title {
    text-align: center;
  }
  /* contactUs */
  .map{
    flex-direction:column;
    align-items: center;
  }
  .map a{
    width:200px;
  }
  #contactUs {
    width: 100%;
  }
  #contactUs .row {
    align-items: center;
  }
  .map {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  /* FAQs */
  .faq {
    margin-bottom: 6px;
    height: 100vh;
  }
  .accordion-item {
    border: none;
  }
  .accordion-header:focus,.accordion-header:active{
  background-color:white;
  }
  .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: inherit;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  }
  .accordion-body {
    background-color: var(--grey-color);
  }
  .accordion-item:hover,
  .accordion-item:focus {
    border: 1px;
  }
  /* shipNow */
  #shipNow {
    background-color: var(--grey-color);
  }
  #shipNow .form-class {
    padding: 40px;
  }
  #shipNow .heading {
    padding: 0px;
    margin-top: 25px;
  }
  /* footer */
  #footer {
    background-color: rgb(0, 0, 0);
  }
  
  